<footer id="mainFooter" class="mainFooter" role="contentinfo">
	<div class="row">
		<div class="col-md-3 col-sm-6">
			<article class="mainFooter__linkGroup">
				<h4 class="mainFooter__subheader">{{navigation.footer_left.name}}</h4>
				{% for item in navigation.footer_left.get_items %}
					<a href="{{item.get_path}}" class="mainFooter__link">{{item.title}}</a><br>
				{% endfor %}
			</article>
		</div>
		<div class="col-md-3 col-sm-6">
			<article class="mainFooter__linkGroup">
				<h4 class="mainFooter__subheader">{{navigation.footer_center.name}}</h4>
				{% for item in navigation.footer_center.get_items %}
					<a href="{{item.get_path}}" class="mainFooter__link">{{item.title}}</a><br>
				{% endfor %}
			</article>
		</div>
		<div class="col-md-3 col-sm-6">
			<article class="mainFooter__linkGroup">
				<h4 class="mainFooter__subheader">{{navigation.footer_right.name}}</h4>
				{% for item in navigation.footer_right.get_items %}
					<a href="{{item.get_path}}" class="mainFooter__link">{{item.title}}</a><br>
				{% endfor %}
			</article>
		</div>
		<div class="col-md-3 col-sm-6">
			<article class="mainFooter__linkGroup">
				<img src="http://placehold.it/150x50" width="150">
				<br>
				<br>
				<img src="http://placehold.it/75x50" width="75">
			</article>
		</div>
	</div>
	<div class="site-info">
		<?php do_action( 'bioscience_credits' ); ?>
	</div><!-- .site-info -->
</footer><!-- #colophon -->
