{% extends 'layout/base-grid.twig' %}

{% block content %}
	<div class="row">
		<h1 class="small-12 columns page__header">{{page.title}}</h1>
		<article class="small-12 columns page__content">
			{{page.content}}
		</article>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<h2 class="">Scientific Programs</h2>
			<hr class="">
		</div>
	</div>
	<div class="row">
		{% for program in programs %}
			<div class="small-12 medium-6 large-4 columns">
				<div class="card-container--full">
					<article class="card--full card--program">
						{% if program.get_thumbnail %}
							<img src="{{ program.get_thumbnail.get_src }}" class="card__thumb--full">
						{% endif %}
						<h2 class="card__title">
							{% if program.url == false %}
							{% set link = program.get_path %}
							<a href="{{program.get_path}}">
							{% else %}
							{% set link = program.url %}
							<a href="{{program.url}}" target="_blank">
							{% endif %}
								{{program.title}}
							</a>
						</h2>
						<div class="card__text--program">
							{{program.summary}}
							<div class="readmore">
								<a href = "{{ link }}" {% if program.program_type == "center" %} target="_blank" {% endif %}>Learn More</a>
							</div>
						</div>
					</article>
				</div>
			</div>
		{% else %}
			No Children
		{% endfor %}
	</div>
{% endblock %}
