{% include "components/header.twig" %}

<body class="{{body_class}}" data-source="base">
	{# do_action( 'before' ); #}
	<header id="main_header" class="main_header" role="banner">
		<div class="brand">
			<h1 class="brand__title">
				<a href="/" title="{{ bloginfo('name', display) }}" rel="home">
					{{ bloginfo('name') }}
				</a>
			</h1>
			{# the_breadcrumb() #}
		</div>

		{% block navigation_bar %}
			{% include "components/navbar.twig" %}
		{% endblock %}

	</header><!-- #masthead -->
	
	<div class="container">
	
		<div class="row">
			{% block content %}
				<!-- default content can go here. otherwise, must be extended -->
				Sorry, no content
			{% endblock %}

			{% block sidebar %}
				<aside id="sidebar" class="col-sm-4" role="complementary">
					{# get_sidebar() #}
				</aside>
			{% endblock %}
		</div>

	</div>
	
	{% block footer %}
		{% include "components/footer.twig" %}
	{% endblock %}

<script data-main="{{theme_dir}}/assets/js/main" src="{{theme_dir}}/assets/bower_lib/requirejs/require.js"></script>
{{wp_footer}}
</body>
</html>
