{% extends 'layout/base.twig'%}
{% block content %}

<div class="row">
	<article id="post-{{post.ID}}" class="post post--{{post.post_type}} col-sm-8">
		<header class="post__header">
			<h1 class="post__title">
				<a href="{{post.permalink}}" rel="bookmark" class="post__title__link">{{post.title}}</a>
			</h1>
		{# 
			{% if 'post' == get_post_type() %}
				<div class="post__meta">
					{{ bioscience_posted_on() }}
				</div>
			{% endif %}

		#}

		</header>
		<div class="entry-content">
			{{post.content}}
		</div>
		{#
		<footer class="entry-meta">
			<?php
				/* translators: used between list items, there is a space after the comma */
				$category_list = get_the_category_list( __( ', ', 'bioscience' ) );
	
				/* translators: used between list items, there is a space after the comma */
				$tag_list = get_the_tag_list( '', __( ', ', 'bioscience' ) );
	
				if ( ! bioscience_categorized_blog() ) {
					// This blog only has 1 category so we just need to worry about tags in the meta text
					if ( '' != $tag_list ) {
						$meta_text = __( 'This entry was tagged %2$s. Bookmark the <a href="%3$s" 	title="Permalink to %4$s" rel="bookmark">permalink</a>.', 'bioscience' );
					} else {
						$meta_text = __( 'Bookmark the <a href="%3$s" title="Permalink to %4$s" rel="bookmark"	>permalink</a>.', 'bioscience' );
					}
	
				} else {
					// But this blog has loads of categories so we should probably display them here
					if ( '' != $tag_list ) {
						$meta_text = __( 'This entry was posted in %1$s and tagged %2$s. Bookmark the <a 	href="%3$s" title="Permalink to %4$s" rel="bookmark">permalink</a>.', 'bioscience'	 );
					} else {
						$meta_text = __( 'This entry was posted in %1$s. Bookmark the <a href="%3$s" 	title="Permalink to %4$s" rel="bookmark">permalink</a>.', 'bioscience' );
					}
	
				} // end check for categories on this blog
	
				printf(
					$meta_text,
					$category_list,
					$tag_list,
					get_permalink(),
					the_title_attribute( 'echo=0' )
				);
			?>
	
			<?php edit_post_link( __( 'Edit', 'bioscience' ), '<span class="edit-link">', '</span>' ); ?>
		</footer>#}
	</article>
</div>
{% endblock %}
