{% extends 'layout/base-focused.twig'%}
{% block content %}

<div class="row">
	<article id="post-{{post.ID}}" class="post post--{{post.post_type}} col-sm-12">
		<header class="post__header">
			<h1 class="post__title">
				{{post.title}}
			</h1>
			<img src="{{post.get_thumbnail.src|resize(250)}}" alt="{{post.thumnail.caption}}" class="alignleft">
		</header>
		<div class="entry-content">
			{{post.content}}
		</div>
	</article>
</div>
{% endblock %}

{% block sidebar %}
{% endblock %}
